@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bar-chart {
  font-family: Open Sans;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

.middle {
  display: flex;
  height: 100%;
  width: 100%;
}

.chart-title {
  text-align: center;
}

.y-tick {
  border-right: 1px black solid;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 10px;
}

.y-axis-label {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: right;
}

.y-axis {
  height: 100%;
  display: flex;
}

.bar {
  border-bottom: 1px black solid;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  text-align: center;
}

.x-axis {
  display: flex;
  width: 100%;
  text-align: center;
  overflow-wrap: anywhere;
}

.x-axis-title {
  text-align: center;
  font-size: 24px;
}
