@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.bar-chart {
  font-family: Open Sans;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  padding: min(15%, 10px);
  user-select: none;
}

.middle {
  display: flex;
  height: 100%;
  width: 100%;
}

.chart-title {
  text-align: center;
  padding: min(5%, 15px);
}

.y-tick {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 10px;
}

.tick {
  background-color: grey;
  height: 0.5px;
  width: 10px;
}

.y-axis-label {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: right;

}

.y-axis {
  height: 100%;
  display: flex;
  margin-right: min(10%, 5px);
}

.y-axis-title {
  width: 100%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  transform: rotate(180deg);
  font-weight: bold;
}

.bars {
  display: flex;
  width: 100%;
  height: 100%;
}

.pos-bars {
  align-items: flex-end;
}

.bar {
  display: flex;
  justify-content: center;
}

.stacked-bar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
}

.x-axis {
  display: flex;
  width: 100%;
  text-align: center;
  overflow-wrap: anywhere;
}

.x-axis-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.sup {
  vertical-align: super;
}

.chart-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-right: 1px black solid;
  border-left: 1px black solid;
  border-top: 1px grey solid;
}
